/*----------------------------------
VARIABLES
------------------------------------*/
:root {
	--alittle_black: rgb(25, 25, 25);
	--alittle_purple: rgb(144 60 255);
	--dirtywhite: rgb(223, 223, 223);
	--super_black: rgb(0, 0, 0);
	--orange: rgb(241 107 25 / 94%);
	--shadow: rgb(204, 204, 204);
	--gradient_black: rgb(0 0 0 / 95%);
}

/*----------------------------------
GLOBAL SELECTOR
------------------------------------*/
* {
	font-family: monospace, "Caveat", verdana, sans-serif;
	font-size: 18px;
	/* line-height: 35px; */
	color: var(--dirtywhite);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
div,
a,
p,
ul,
li,
section,
article,
aside,
figure,
figcaption,
main,
img {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	transition: 800ms;
}

._no_transition {
	transition: none;
}

html,
body {
	scroll-behavior: smooth;
	color: var(--dirtywhite);
}

/*----------------------------------
HEADER SECTION
------------------------------------*/
._header_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: fixed;
	top: 0px;
	width: 100vw;
	/* margin: 0 auto; */
	background-color: var(--super_black);
	z-index: 100;
	/* height: 60px; */
}

._header_container_main {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

._header_inner_container {
	display: flex;
	align-self: center;
	/* height: 50px; */
	/* padding: 5px; */
	/* width: 100%; */
	align-items: center;
	/* justify-content: flex-start; */
	/* align-items: center; */
	z-index: 80;
	/* flex-direction: row; */
	/* flex-wrap: nowrap; */
	/* padding: 5px; */
	border-right: 5px solid;
}

._header_inner_container h2 {
	width: 110px;
	font-size: 18px;
	color: var(--orange);
	padding-left: 5px;
}

._header_inner_external_links {
	width: 150px;
	font-size: 18px;
	color: var(--orange);
	/* padding-left: 25px; */
	/* flex: 0 0 33.33%; */
	justify-content: center;
	/* height: 45px; */
	display: flex;
	align-self: center;
	/* flex-wrap: nowrap; */
}

._header_inner_external_links ul li {
	padding: 0px 5px;
}

.fa {
	color: var(--dirtywhite);
	font-size: 25px;
	vertical-align: middle;
}

.fa:hover {
	/* font-size: 28px; */
	transition: 500ms;
	color: var(--orange);
	box-shadow: 0 0 20px var(--shadow);
	border-radius: 50px;
	/* border: 0.5px dashed var(--alittle_purple); */
	/* border-radius: 5px; */
	/* padding: 1px; */
}

._header_inner_container_1 {
	width: 350px;
	z-index: 50;
	/* position: fixed; */
	/* background-image: linear-gradient(
		180deg,
		var(--super_black),
		var(--gradient_black)
	); */
	/* top: 5px; */
	/* margin-left: 10px; */
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	/* position: fixed; */
	/* left: 33%; */
	/* padding: 0px; */
}

._header_inner_internal_links {
	/* height: 40px; */
	align-items: center;
	/* width: 309px; */
	justify-content: center;
	display: flex;
	align-self: center;
}

._header_inner_internal_links ul {
	padding: 6px;
}

._header_inner_internal_links ul li a {
	color: var(--dirtywhite);
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	/* font-size: 16px; */
	/* background-color: transparent; */
	letter-spacing: 2px;
}

._header_inner_internal_links ul li a:hover {
	color: var(--orange);
	/* text-shadow: 0px 0px var(--shadow); */
	text-decoration: underline;
	/* border-bottom: px solid var(--dirtywhite); */
	font-weight: bold;
	/* font-size: 16px; */
	transition: 500ms;
	/* box-shadow: 0 0 25px var(--shadow); */
	border-radius: 50px;
	/* background-color: var(--shadow); */
	text-decoration-color: white;
	/* padding: 1px; */
	text-underline-offset: 5px;
}

._header_inner_internal_links ul li span:hover {
	cursor: default;
}

._header_inner_internal_links ul li .selected {
	color: var(--dirtywhite);
	border-bottom: 1px solid var(--alittle_purple);
	cursor: pointer;
	font-weight: bolder;
	font-size: 20px;
}

._header_inner_container,
._header_inner_container_1,
._header_inner_internal_links,
._header_inner_external_links {
	display: flex;
	/* flex-direction: row; */
	/* justify-content: center; */
	/* flex-direction: row; */
	flex-wrap: nowrap;
	/* flex-grow: 0; */
	/* flex-shrink: 0; */
	/* height: 40px; */
	padding: 5px;
	flex: 0 0 auto;
}

._header_inner_external_links ul li,
._header_inner_internal_links ul li,
._header_inner_internal_links ul li a {
	display: inline-block;
	/* padding: 5px; */
	/* background-color: transparent; */
}

/*----------------------------------
BODY - HOME SECTION
------------------------------------*/
._body_container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	flex-wrap: wrap;
	min-width: 100%;
	min-height: 94.9vh;
	background-image: linear-gradient(
		118deg,
		var(--super_black),
		var(--gradient_black),
		var(--super_black)
	);
	padding-top: 48px;
}

._body_container_inner {
	/* width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: center; */
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

._card_container_home {
	margin: 0 auto;
	/* min-height: 99.8vh; */
	align-items: center;
	/* padding: 0px 50px 0px 50px; */
	/* width: 100%; */
}

._card_container_inner_home {
	/* width: 100%; */
	/* height: 94vh; */
	justify-content: center;
	align-content: center;
	/* margin-top: 50px; */
}

.home-content-1 {
	display: flex;
	flex-direction: column;
	/* flex: 1 1 auto; */
	/* align-items: stretch; */
	opacity: 1;
	/* text-align: left; */
	cursor: default;
	user-select: none;
	/* width: 40%; */
	padding: 50px;
}

.home-content-1 .greet {
	/* display: flex; */
	/* justify-content: flex-end; */
	font-size: 30px;
	/* margin: 0px 70% 0px 30%; */
	padding-bottom: 25px;
}

.home-content-1 strong {
	/* display: flex; */
	/* justify-content: flex-end; */
	font-size: 30px;
	font-weight: 900;
	color: var(--orange);
	padding-bottom: 30px;
	transform: scale(1, 1.3);
}

.home-content-1 .greet-desc {
	line-height: 1.5;
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: flex-end; 
	/* padding-right: 110px; */
	/* width: 100%; */
	padding-left: 25px;
	animation: type 20s steps(120, end);
	font-size: 18px;
}

.next {
	padding: 25px;
	/* flex-direction: row; */
	/* justify-content: flex-end; */
	/* align-items: center; */
	/*height: 100px;*/
}

.next a {
	text-decoration: none;
	font-size: 18px;
	color: var(--dirtywhite);
	text-decoration: underline;
	text-underline-offset: 5px;
}

.next a:hover {
	/* text-underline-position: under; */
	text-decoration-style: dotted;
	text-decoration: underline;
	text-decoration-color: var(--orange);
	font-weight: bolder;
}

.home-content-2 {
	/* display: flex; */
	/* flex: 1 0 auto; */
	padding: 50px;
	opacity: 0.4;
}
.home-content-2 img {
	height: 400px;
	box-shadow: 1px 0px 10px 2px var(--dirtywhite);
	border-radius: 53px;
	transform: rotate(5deg);
}

.home-content-2 img:hover {
	-moz-box-shadow: 0 0 10px var(--shadow);
	-webkit-box-shadow: 0 0 10px var(--shadow);
	box-shadow: 0 0 25px var(--shadow);
}

._card_container_home,
._card_container_inner_home {
	display: flex;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* align-self: flex-end; */
	width: 100%;
	min-height: 94.7vh;
}

/*----------------------------------
BODY - GLOBAL BODY SECTION
------------------------------------*/

.card-content {
	display: flex;
	flex: 1 0 auto;
	min-width: 100%;
	min-height: 99.7vh;
	padding: 48px 50px 50px 50px;
	color: var(--dirtywhite);
	align-content: center;
}

.card-content-inner {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	/* padding: 20px 50px 20px 50px; */
	z-index: 1;
	align-items: center;
}

.Storyline-A {
	/* flex: 1 0 60%; */
	padding: 50px 50px 0px 50px;
}

.Storyline-B {
	flex: 1 0 30%;
	/* padding: 0px 55px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.Storyline-B figure {
	flex: 1 0 auto;
	/* flex-direction: column; */
	/* width: 100%; */
	padding: 0 30px;
}

.Storyline-B figure figcaption {
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
}
.Storyline-B figure img {
	/* width: 100px; */
	height: 100px;
	/* margin: 20px; */
	/* padding: 20px; */
	/* border: 1px  var(--alittle_purple); */
	align-self: center;
	border-radius: 15px;
	transform: rotate(9deg);
	/* flex: 0 0 25px; */
}

.Storyline-B figure img:hover {
	box-shadow: 0 0 10px var(--shadow);
}

.paragraph-context,
.paragraph-context span {
	margin-bottom: 25px;
	line-height: 1.5;
	/* font-weight: 300; */
	text-align: justify;
	font-size: 18px;
	cursor: default;
	user-select: none;
}

.paragraph-context span {
	color: var(--orange);
}

/*----------------------------------
BODY - WORK SECTION
------------------------------------*/

.work-content-inner {
	width: 100%;
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* flex-direction: column; */
}

.work-content-inner h2 {
	font-size: 18px;
	text-align: left;
	border-bottom: 1px dashed var(--dirtywhite);
	/* border-radius: 5px; */
	text-shadow: 3px 3px var(--alittle_black);
	margin: 20px;
}

.work-content-container figcaption {
	color: var(--dirtywhite);
	/* text-shadow: 1px 1px var(--orange); */
	/* border-top: 1px dashed var(--alittle_purple); */
	font-weight: 300;
	text-align: center;
	position: relative;
	/* top: 0px; */
	border-radius: 10px;
	z-index: 50;
	font-size: 18px;
}

.work-content-container {
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: center;
	/* width: 100%; */
}

.work-content-container figure {
	/* margin: 15px; */
	display: flex;
	flex-direction: column;
	padding: 15px;
	/* height: 150px; */
}

.work-content-container img {
	/* flex: 1 0 auto; */
	height: 150px;
	opacity: 0.3;
	border-radius: 15px;
	border: 1px dashed var(--alittle_purple);
	padding: 5px;
	width: -webkit-fill-available;
}

.work-content-container img:hover {
	opacity: 0.9;
	-moz-box-shadow: 0 0 10px var(--shadow);
	-webkit-box-shadow: 0 0 10px var(--shadow);
	box-shadow: 0 0 10px var(--shadow);
}

/*----------------------------------
BODY - CONTACT SECTION
------------------------------------*/
.contact-content-inner {
	display: flex;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px 50px 0px 50px;
	/* z-index: 1; */
}

form {
	width: 40%;
}

form h3 {
	font-size: 140%;
	color: var(--orange);
}

label {
	display: block;
}

button {
	padding: 1% 2%;
	color: #fff;
	background-color: #13293d;
	border: none;
	outline: none;
	cursor: pointer;
}

.text-input {
	width: 100%;
	color: var(--super_black);
}

/*----------------------------------
FOOTER
------------------------------------*/
footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	font-size: small;
	width: 100%;
	z-index: -100;
	color: var(--dirtywhite);
}

/*------------------------------------
MEDIA QUERIES
------------------------------------*/
@media screen and (max-width: 1620px) {
}

/*--------Media of 1280px x 960px----------*/
/*----On screens that are 1280px or less---*/
/*-----------------HD Screens--------------*/
@media screen and (max-width: 1280px) {
	/*._body_container_inner {
		width: 100%;
	} */
	._body_container_inner {
		width: 90%;
	}

	.home-content-1 strong,
	.home-content-1 .greet {
		font-size: calc(30px - 0.3vw);
	}
	.home-content-1 .greet-desc {
		font-size: calc(18px - 0.3vw);
	}
	.next a {
		font-size: calc(18px - 0.3vw);
	}
	.home-content-2 img {
		height: calc(400px - 7vw);
	}
	.paragraph-context,
	.paragraph-context span {
		margin-bottom: 25px;
		line-height: 1.5;
		/* font-weight: 300; */
		font-size: calc(18px - 0.4vw);
	}
	.Storyline-B figure {
		padding: 0 15px;
	}

	.Storyline-B figure figcaption {
		font-size: calc(16px - 0.4vw);
		margin: 20px 0;
	}
	.Storyline-B figure img {
		height: calc(100px - 3vw);
	}
	.work-content-inner h2 {
		font-size: calc(18px - 0.4vw);
		padding-top: 10px;
	}
	.work-content-container figcaption {
		font-size: calc(18px - 0.4vw);
	}
}

/*--------Media of 1024px x 768px----------*/
/*----------------Old Laptops--------------*/
@media screen and (max-width: 1024px) {
	/*HOME*/
	/* .home-content-1 .greet,
	.home-content-1 strong,
	.home-content-1 .next,
	.home-content-1 .greet-desc,
	.home-content-2 {
		justify-content: center;
	}

	.home-content-1 .greet,
	.home-content-1 strong,
	.home-content-1 .next,
	.home-content-1 .greet-desc,
	.home-content-2,
	.home-content-2 img {
		padding: 0px;
	}

	.home-content-1 strong {
		font-size: 26px;
	}

	.home-content-1 .greet-desc {
		line-height: 1.3;
		font-size: 18px;
	}

	.home-content-2 img {
		height: 250px;
	}

	.next a {
		font-size: 18px;
	} */

	/*ABOUT ME*/
	/* .Storyline-A {
		width: 70%;
	}
	.Storyline-B {
		width: 30%;
	}

	.card-content-inner {
		padding: 20px 0px 20px 0px;
	}

	.paragraph-context,
	.paragraph-context span {
		margin-bottom: 15px;
		line-height: 1.4;
		font-size: 14px;
	}

	.paragraph-context span {
		color: var(--orange);
	}
	.Storyline-B figure figcaption {
		font-size: 12px;
		margin-top: -20px;
	}
	.Storyline-B figure img {
		width: 75px;
		height: 75px;
		padding: 15px;
		margin: 15px;
	} */

	/* WORK */
	/* .work-content-inner h2 {
		font-size: 22px;
		border-bottom: 1px dashed var(--dirtywhite);
		text-shadow: 3px 3px var(--alittle_black);
		padding-top: 10px;
	}
	.work-content-container {
		width: 100%;
	} */

	/*CONTACT */
	/* form {
		width: 70%;
	}
	form h3 {
		margin-top: 25px;
		font-size: 100%;
	}
	form p,
	.text-input,
	label {
		font-size: 16px;
	} */
}

/*--------Media of 800px x 600px----------*/
/*-----------------Tablets----------------*/
@media screen and (max-width: 800px) {
	._header_container {
		display: block;
		position: fixed;
		top: 0px;
		width: 100vw;
		background-color: var(--super_black);
		z-index: 100;
	}
	/*
	._header_inner_container {
		justify-content: center;
		padding-left: 0px;
		border-right: none;
		border-bottom: 2px solid;
	}
	._header_inner_container_1 {
		justify-content: center;
		padding-left: 0px;
		width: 100vw;
	}

	.home-content-1 .greet {
		font-size: 20px;
		padding-bottom: 10px;
	}

	.home-content-1 strong {
		font-size: 22px;
	}

	._card_container_inner_home {
		padding: 140px 0px 100px 0px;
	}

	.home-content-1 .greet-desc {
		justify-content: center;
		line-height: 1.2;
		font-size: 16px;
	}

	.next {
		height: 50px;
	}

	.next a {
		font-size: 16px;
	}
	.home-content-2 {
		height: 70%;
		margin-top: 20px;
	}
	.home-content-2 img {
		height: 105%;
	}
	.next a:hover {
		font-weight: bolder;
		font-size: 16px;
	}

	.card-content {
		padding: 90px 25px 0px 25px;
		color: var(--dirtywhite);
		align-content: center;
	}

	.home-content-1 .greet-desc,
	.next a {
		padding: 0px;
	} */
}

/*--------Media of 425px ----------*/
/*--------Large Phones----------*/
@media screen and (max-width: 425px) {
	._body_container {
		width: 100vw;
	}
	._body_container_inner {
		width: 100vw;
		/* flex: 1 0 auto; */
		text-align: -webkit-center;
	}
	._header_container_main {
		display: block;
		width: 100%;
	}
	._header_inner_container h2 {
		/* width: 167px; */
		font-size: 18px;
		color: var(--orange);
		padding-left: 5px;
	}
	._header_inner_container h2 {
		/* width: 200px; */
		font-size: calc(18px - 0.3vw);
		color: var(--orange);
		/* padding-left: 5px; */
	}

	._header_inner_internal_links ul li a {
		font-size: 16px;
		/* background-color: transparent; */
		letter-spacing: 2px;
	}

	._card_container_home,
	._card_container_inner_home {
		display: block;
		width: 100%;
	}

	.home-content-1 {
		padding: 70px 0px 0px 0px;
	}

	.home-content-1 strong,
	.home-content-1 .greet {
		font-size: calc(30px - 4vw);
	}
	.home-content-1 .greet-desc {
		font-size: calc(18px - 1.8vw);
	}
	.next a {
		font-size: calc(18px - 1.8vw);
	}
	.home-content-2 {
		padding: 0px;
		float: center;
	}

	.home-content-2 img {
		height: calc(400px - 50vw);
	}
	.paragraph-context,
	.paragraph-context span {
		margin-bottom: 10px;
		/* line-height: 1.5; */
		/* font-weight: 300; */
		font-size: calc(18px - 2vw);
	}
	.Storyline-B figure {
		padding: 0 15px;
	}

	.Storyline-B figure figcaption {
		font-size: calc(16px - 0.4vw);
		margin: 20px 0;
	}
	.Storyline-B figure img {
		height: calc(100px - 3vw);
	}
	.work-content-inner h2 {
		font-size: calc(18px - 0.4vw);
		padding-top: 10px;
	}
	.work-content-container figcaption {
		font-size: calc(18px - 0.4vw);
	}

	/* ._card_container_home {
		padding: 0px 25px 0px 25px;
	}*/

	.card-content {
		padding: 90px 0px 0px 0px;
		align-content: center;
	}

	.Storyline-A {
		/* flex: 1 0 60%; */
		padding: 20px 20px 0px 20px;
	}
	/*
	.home-content-1 strong {
		font-size: 17px;
		padding-bottom: 10px;
	}

	.home-content-1 .greet-desc {
		font-size: 14px;
	}

	.home-content-2 {
		padding-top: 60px;
	}

	.home-content-2 img {
		height: 75%;
	}

	._card_container_inner_home {
		align-content: center;
	}

	.Storyline-A {
		padding: 0px;
	}

	.paragraph-context {
		margin-bottom: 15px;
		line-height: 1.1;
		font-size: 12px;
	}

	.paragraph-context span {
		font-size: 12px;
		line-height: 1.1;
	}

	.Storyline-B {
		padding: 0px 5px 0px 0px;
	}

	.Storyline-B figure img {
		padding: 5px;
		width: 50px;
		height: 50px;
	}

	.Storyline-B figure figcaption {
		font-size: 8px;
	}

	.next a {
		font-size: 12px;
		padding: 0px;
	}

	.next a:hover {
		font-weight: bolder;
		font-size: 12px;
	}

	.work-content-inner {
		padding: 0px 10px 0px 10px;
	}

	.work-content-container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	.work-content-container figure {
		margin: 4px;
		line-height: 0px;
	}

	.work-content-container figcaption {
		font-size: 14px;
		bottom: 120px;
	}

	.contact-content-inner {
		align-items: center;
		padding: 0px 5px 0px 5px;
		justify-content: flex-start;
		margin-top: 50px;
	}

	.contact-content-inner aside p {
		font-size: 16px;
	}

	form {
		width: 80%;
	}

	form h3 {
		margin-top: 25px;
		font-size: 100%;
	}

	form p,
	.text-input,
	label {
		font-size: 14px;
	} */
}

/*--------Media of 375px----------*/
/*--------Medium Phones----------*/
@media screen and (max-width: 375px) {
}

/*--------Media of 325px----------*/
/*--------Old Small Phones----------*/
@media screen and (max-width: 325px) {
	/* h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span,
	a,
	p,
	ul,
	li {
		line-height: 1;
	}

	._card_container_home {
		padding: 0px 10px 0px 10px;
	}
	._card_container_inner_home {
		padding: 200px 0px 100px 0px;
	}
	.home-content-1 .greet {
		padding-bottom: 0px;
	}
	.home-content-1 strong {
		font-size: 12px;
	}
	.home-content-1 .greet-desc {
		font-size: 10px;
	}
	.next a {
		font-size: 10px;
		padding: 0px;
	}
	.next a:hover {
		font-weight: bolder;
		font-size: 10px;
	}
	.card-content-inner {
		flex-direction: column;
		align-items: center;
		padding: 20px 5px 20px 5px;
	}
	.paragraph-context,
	.paragraph-context span {
		line-height: 1.2;
		text-align: justify;
		font-size: 12px;
	}
	.Storyline-A {
		width: 100%;
		padding: 0px;
	}
	.Storyline-B {
		width: 100%;
	}
	.card-content {
		padding: 90px 5px 0px 5px;
	}
	.work-content-inner {
		padding: 0px 10px 0px 10px;
	}
	.work-content-container {
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.work-content-container figure {
		margin: 4px;
		line-height: 0px;
	}
	.work-content-container figcaption {
		bottom: 70px;
	}
	.work-content-container img {
		height: 150px;
		opacity: 0.1;
		border-radius: 15px;
	}
	form {
		width: 100%;
	}
	form h3 {
		margin-top: 25px;
		font-size: 90%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	span,
	a,
	p,
	ul,
	li,
	._header_inner_internal_links ul li a,
	._header_inner_internal_links ul li a:hover,
	._header_inner_internal_links ul li .selected,
	.home-content-1 .greet,
	.work-content-container figcaption,
	form p,
	.text-input,
	label {
		font-size: 14px;
	} */
}

/*END OF CODE*/
