/*----------------------------------
VARIABLES
------------------------------------*/
:root {
  --alittle_black: rgb(25, 25, 25);
  --alittle_purple: rgb(144 60 255);
  --dirtywhite: rgb(223, 223, 223);
  --super_black: rgb(0, 0, 0);
  --orange: rgb(241 107 25 / 94%);
  --shadow: #ccc;
  --gradient_black: rgb(0 0 0 / 95%);
}

/*----------------------------------
GLOBAL SELECTOR
------------------------------------*/
* {
  font-family: monospace, "Caveat", verdana, sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: var(--dirtywhite);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
div,
a,
p,
ul,
li,
section,
article,
aside,
figure,
main,
img {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  transition: 800ms;
}

.no-transition {
  transition: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--dirtywhite);
}

/*----------------------------------
HEADER SECTION
------------------------------------*/
.header-title {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--super_black);
  z-index: 100;
  overflow: hidden;
  height: 50px;
}

.header-title h2::after {
  content: " ";
  white-space: pre;
}

.inner-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
}

.external-links {
  display: flex;
  flex-direction: row;
  padding: 10px 5px 10px 5px;
  width: 200px;
  justify-content: center;
}

.external-links ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.fa {
  color: var(--dirtywhite);
  font-size: 25px;
  vertical-align: middle;
}

.fa:hover {
  font-size: 35px;
  transition: 800ms;
}

.outer-header {
  width: 100%;
  z-index: 50;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    var(--super_black),
    var(--gradient_black)
  );
}

.internal-links {
  height: 40px;
  display: flex;
  align-items: center;
}

.internal-links ul li {
  display: inline;
}

.internal-links ul li a {
  display: inline;
  color: var(--orange);
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 16px;
}

.internal-links ul li a:hover {
  display: inline;
  color: var(--dirtywhite);
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border-bottom: 1px dashed var(--alittle_purple);
  font-weight: bolder;
  font-size: 20px;
  transition: 800ms;
}

.internal-links ul li span:hover {
  cursor: default;
}

.internal-links ul li .selected {
  color: var(--dirtywhite);
  border-bottom: 1px solid var(--alittle_purple);
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
}

/*----------------------------------
BODY - HOME SECTION
------------------------------------*/
.main-container {
  min-width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(
    118deg,
    var(--super_black),
    var(--gradient_black),
    var(--super_black)
  );
}

.card-content-home {
  display: flex;
  flex: 1 1 auto;
  min-height: 99.8vh;
  align-items: center;
  padding: 0px 50px 0px 50px;
  width: 100%;
  margin: 0 auto;
}

.card-content-inner-home {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 89vh;
  align-content: center;
}

.home-content-1 {
  display: flex;
  flex: 1 1 auto;
  opacity: 1;
  text-align: left;
  flex-direction: column;
  align-items: stretch;
  cursor: default;
  user-select: none;
}

.home-content-1 .greet {
  justify-content: flex-end;
  display: flex;
  font-size: 26px;
  padding-right: 413px;
  padding-bottom: 30px;
}

.home-content-1 strong {
  font-size: 28px;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  color: var(--orange);
}

.home-content-1 .greet-desc {
  display: flex;
  flex-direction: row;
  padding-right: 110px;
  width: 100%;
  justify-content: flex-end;
}

.next {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
}

.next a {
  text-decoration: none;
  font-size: 23px;
  color: var(--orange);
  padding: 20px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: dotted;
  text-decoration-color: var(--dirtywhite);
}

.next a:hover {
  color: var(--dirtywhite);
  text-decoration: underline;
  font-weight: bolder;
  font-size: 23px;
  transition: 800ms;
  text-decoration-color: var(--alittle_purple);
  text-decoration-style: dotted;
  text-underline-position: under;
}

.home-content-2 {
  display: flex;
  flex: 1 0 auto;
  padding-left: 50px;
  opacity: 0.4;
}
.home-content-2 img {
  height: 400px;
  box-shadow: 5px 5px 10px 10px var(--dirtywhite);
  border-radius: 53px;
  transform: rotate(10deg);
}

.home-content-2 img:hover {
  -moz-box-shadow: 0 0 10px var(--shadow);
  -webkit-box-shadow: 0 0 10px var(--shadow);
  box-shadow: 0 0 10px var(--shadow);
}

/*----------------------------------
INNER BODY SECTION
------------------------------------*/

.card-content {
  display: flex;
  flex: 1 0 auto;
  min-width: 100%;
  min-height: 99.8vh;
  padding: 90px 50px 50px 50px;
  color: var(--dirtywhite);
  align-content: center;
}

.card-content-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 50px 20px 50px;
  z-index: 1;
}

.card-content-inner h2 {
  font-size: 20px;
  text-align: left;
  border-bottom: 1px dashed var(--dirtywhite);
  border-radius: 5px;
  text-shadow: 3px 3px var(--alittle_black);
  padding-top: 40px;
}

.Storyline-A {
  width: 50%;
  padding: 0px 15px 0px 15px;
}

.Storyline-B {
  width: 50%;
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Storyline-B figure figcaption {
  font-size: 14px;
  text-align: center;
  margin-top: -25px;
}
.Storyline-B figure img {
  width: 130px;
  padding: 20px;
  border: 1px dotted var(--alittle_purple);
  margin: 20px;
  height: 130px;
  align-self: center;
  border-radius: 15px;
  transform: rotate(15deg);
}

.Storyline-B figure img:hover {
  -moz-box-shadow: 0 0 10px var(--shadow);
  -webkit-box-shadow: 0 0 10px var(--shadow);
  box-shadow: 0 0 10px var(--shadow);
}

.paragraph-context {
  margin-bottom: 25px;
  line-height: 1.5;
  font-weight: 300;
  text-align: justify;
  font-size: 16px;
  cursor: default;
  user-select: none;
}

.paragraph-context span {
  color: var(--orange);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  cursor: default;
  user-select: none;
}

/*----------------------------------
WORK SECTION
------------------------------------*/

.work-content-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  z-index: 1;
  justify-content: center;
}

.work-content-inner aside {
  margin-bottom: 20px;
}

.work-content-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 25px 0px 25px;
  margin: 0px 25px 0px 25px;
}

.work-content-container figure {
  margin: 15px;
}

.work-content-container img {
  width: 100%;
  height: 250px;
  opacity: 0.1;
  border-radius: 15px;
}

.work-content-container img:hover {
  opacity: 0.9;
  -moz-box-shadow: 0 0 10px var(--shadow);
  -webkit-box-shadow: 0 0 10px var(--shadow);
  box-shadow: 0 0 10px var(--shadow);
}

.work-content-container figcaption {
  color: var(--orange);
  font-weight: 900;
  text-align: center;
  line-height: 0px;
  position: relative;
  bottom: 150px;
}

/*----------------------------------
CONTACT SECTION
------------------------------------*/
.contact-content-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  z-index: 1;
  justify-content: center;
}

form {
  width: 30%;
}

form h3 {
  font-size: 150%;
  color: var(--orange);
}

label {
  display: block;
}

button {
  padding: 1% 2%;
  color: #fff;
  background-color: #13293d;
  border: none;
  outline: none;
  cursor: pointer;
}

.text-input {
  width: 100%;
  color: var(--super_black);
}

/*----------------------------------
FOOTER
------------------------------------*/
footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  font-size: small;
  width: 100%;
  z-index: -100;
  color: var(--dirtywhite);
}

/*----------------------------------
MEDIA QUERIES
------------------------------------*/
@media screen and (max-width: 1045px) {
  .home-content-1 .greet {
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }
  .home-content-1 strong {
    justify-content: center;
    padding: 0;
    font-size: 26px;
  }
  .home-content-1 .next {
    justify-content: center;
    padding: 0;
  }
  .home-content-1 .greet-desc {
    justify-content: center;
    padding: 0px;
    line-height: 1.2;
    font-size: 18px;
  }
  .home-content-2 {
    justify-content: center;
    padding: 0;
  }
  .home-content-2 img {
    height: 250px;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .Storyline-A {
    width: 70%;
  }
  .Storyline-B {
    width: 30%;
  }
  .card-content-inner {
    padding: 20px 0px 20px 0px;
  }
  .work-content-container {
    width: 80%;
  }
  form {
    width: 50%;
  }
  .Storyline-B figure img {
    width: 75px;
    height: 75px;
  }
  .Storyline-B figure figcaption {
    font-size: 12px;
  }
  .next a {
    font-size: 20px;
  }
  .next a:hover {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .home-content-1 .greet {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .home-content-1 strong {
    font-size: 26px;
  }
  .card-content-inner-home {
    padding: 140px 0px 100px 0px;
  }
  .home-content-1 .greet-desc {
    justify-content: center;
    padding: 0px;
    line-height: 1.2;
    font-size: 16px;
  }
  .next {
    height: 50px;
  }
  .next a {
    font-size: 16px;
    padding: 0px;
  }
  .home-content-2 {
    height: 70%;
    margin-top: 20px;
  }
  .home-content-2 img {
    height: 105%;
  }
  .next a:hover {
    font-weight: bolder;
    font-size: 16px;
  }

  .card-content {
    padding: 90px 25px 0px 25px;
    color: var(--dirtywhite);
    align-content: center;
  }

  .card-content-inner {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .card-content-home {
    padding: 0px 25px 0px 25px;
  }
  .card-content {
    padding: 90px 10px 0px 10px;
    color: var(--dirtywhite);
    align-content: center;
  }
  .home-content-1 strong {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .home-content-1 .greet-desc {
    font-size: 14px;
  }
  .home-content-2 {
    padding-top: 60px;
  }
  .home-content-2 img {
    height: 75%;
  }
  .card-content-inner-home {
    align-content: center;
  }
  .Storyline-A {
    padding: 0px;
  }
  .paragraph-context {
    margin-bottom: 15px;
    line-height: 1.1;
    font-size: 12px;
  }

  .paragraph-context span {
    font-size: 12px;
    line-height: 1.1;
  }

  .Storyline-B {
    padding: 0px 5px 0px 10px;
  }
  .Storyline-B figure img {
    padding: 5px;

    width: 50px;

    height: 50px;
  }
  .Storyline-B figure figcaption {
    font-size: 8px;
  }
  .next a {
    font-size: 12px;
    padding: 0px;
  }
  .next a:hover {
    font-weight: bolder;
    font-size: 12px;
  }

  .work-content-inner {
    padding: 0px 10px 0px 10px;
  }
  .work-content-container {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .work-content-container figure {
    margin: 4px;
    line-height: 0px;
  }
  .work-content-container figcaption {
    font-size: 14px;
    bottom: 120px;
  }
  .contact-content-inner {
    align-items: center;
    padding: 0px 5px 0px 5px;
    justify-content: flex-start;
    margin-top: 50px;
  }
  .contact-content-inner aside p {
    font-size: 16px;
  }
  form {
    width: 80%;
  }
  form h3 {
    margin-top: 25px;
    font-size: 100%;
  }
  form p,
  text-input,
  label {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .card-content-home {
    padding: 0px 5px 0px 5px;
  }
  .card-content-inner-home {
    padding: 120px 0px 100px 0px;
  }
  .home-content-1 .greet {
    font-size: 16px;
  }
  .home-content-1 strong {
    font-size: 16px;
  }
  .home-content-1 .greet-desc {
    line-height: 1;
    font-size: 12px;
  }
  .home-content-2 img {
    height: 80%;
  }
  .card-content-inner {
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 20px 5px;
  }
  .paragraph-context {
    line-height: 1;
    text-align: justify;
    font-size: 14px;
  }

  .paragraph-context span {
    font-size: 14px;
    line-height: 1;
  }
  .Storyline-A {
    width: 100%;
    padding: 0px;
  }
  .Storyline-B {
    width: 100%;
  }

  .card-content {
    padding: 90px 5px 0px 5px;
  }

  .work-content-inner {
    padding: 0px 10px 0px 10px;
  }
  .work-content-container {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .work-content-container figure {
    margin: 4px;
    line-height: 0px;
  }
  .work-content-container figcaption {
    font-size: 14px;
    bottom: 120px;
  }
  form {
    width: 80%;
  }
  form h3 {
    margin-top: 25px;
    font-size: 100%;
  }
  form p,
  text-input,
  label {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  a,
  p,
  ul,
  li {
    font-size: 14px;
    line-height: 1;
  }
  .internal-links ul li a {
    font-size: 14px;
  }

  .internal-links ul li a:hover {
    font-size: 14px;
  }

  .internal-links ul li .selected {
    font-size: 14px;
  }
  .card-content-home {
    padding: 0px 10px 0px 10px;
  }
  .card-content-inner-home {
    padding: 200px 0px 100px 0px;
  }
  .home-content-1 .greet {
    font-size: 14px;
    padding-bottom: 0px;
  }
  .home-content-1 strong {
    font-size: 14px;
  }
  .home-content-1 .greet-desc {
    font-size: 12px;
  }
  .card-content-inner {
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 20px 5px;
  }
  .paragraph-context {
    line-height: 1;
    text-align: justify;
    font-size: 14px;
  }

  .paragraph-context span {
    font-size: 14px;
    line-height: 1;
  }
  .Storyline-A {
    width: 100%;
    padding: 0px;
  }
  .Storyline-B {
    width: 100%;
  }
  .card-content {
    padding: 90px 5px 0px 5px;
  }
  .work-content-inner {
    padding: 0px 10px 0px 10px;
  }
  .work-content-container {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .work-content-container figure {
    margin: 4px;
    line-height: 0px;
  }
  .work-content-container figcaption {
    font-size: 14px;
    bottom: 70px;
  }
  .work-content-container img {
    height: 150px;
    opacity: 0.1;
    border-radius: 15px;
  }
  form {
    width: 100%;
  }
  form h3 {
    margin-top: 25px;
    font-size: 90%;
  }
  form p,
  text-input,
  label {
    font-size: 14px;
  }
}

/*END OF CODE*/
