:root {
  --alittle_black: rgb(25, 25, 25);
  --alittle_purple: rgb(144 60 255);
  --dirtywhite: rgb(223, 223, 223);
  --super_black: rgb(0, 0, 0);
}

* {
  font-family: monospace, "Caveat", verdana, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
a,
p,
ul,
li,
section,
article,
figure,
main,
body,
html,
img {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  transition: 400ms;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--super_black);
  color: var(--dirtywhite);
}

/*=========
    HEADER SECTION
    ===========*/
.header-title {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  background-color: var(--super_black);
  z-index: 100;
  overflow: hidden;
  height: 50px;
}

.header-title h2::after {
  content: " ";
  white-space: pre;
}

.inner-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  padding: 5px;
}

.external-links {
  display: flex;
  flex-direction: row;
  letter-spacing: 10px;
}

.external-links ul li {
  display: inline;
}

.fa {
  color: var(--dirtywhite);
  font-size: 30px;
}

.fa:hover {
  font-size: 35px;
  transition: 300ms;
}

/*=========
    BODY HOME SECTION
    ===========*/
.main-container {
  min-width: 100%;
  display: flex;
  min-height: 88vh;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-content-home {
  display: flex;
  flex: 1 1 auto;
  min-height: 99.8vh;
  align-items: center;
  padding: 0px 50px 0px 50px;
  /*background-color: #ffffff0f;*/
  width: 100%;
  margin: 0 auto;
}

.card-content-inner-home {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: 89vh;
  align-content: center;
}

.home-content-1 {
  display: flex;
  flex: 0 0 40%;
  opacity: 1;
  padding-top: 74px;
  flex-direction: column;
  text-align: right;
}

.home-content-1 .home-content-1-greet {
  font-size: 60px;
  font-weight: bolder;
  height: 100px;
  flex: 0 0 auto;
}

.home-content-1 .home-content-1-desc {
  display: flex;
  font-size: 23px;
  font-family: monospace;
  line-height: 37px;
  flex-direction: column;
}

.timeline {
  font-size: 23px;
}

.timeline-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 2px;
  line-height: 37px;
}

.timeline-container span {
  font-size: 23px;
}

.timeline {
  /* color: var(--alittle_purple); */
  cursor: pointer;
  transition: 1000ms;
  border-bottom: 2px solid transparent;
  padding-left: 12px;
  font-weight: bolder;
  text-shadow: 1px 1px var(--alittle_purple);
}

.timeline:hover {
  border-color: var(--alittle_purple);
}

.timeline:hover #timeline-content {
  display: flex;
  position: absolute;
  line-height: 1.5;
  text-align: left;
  margin: 2px 0px 0px 0px;
  color: var(--dirtywhite);
  min-width: 170px;
  font-weight: 300;
  text-shadow: none;
}

.timeline #timeline-content {
  display: none;
}

.timeline div ul li a {
  color: var(--dirtywhite);
  text-decoration: none;
  font-size: 18px;
  padding: 1px;
}

.timeline div ul li a:hover {
  color: var(--dirtywhite);
  padding: 3px;
  line-height: 1.7;
  border: 1px dashed var(--alittle_purple);
  border-radius: 10px;
  transition: 300ms;
  font-weight: bolder;
}

.home-content-2 {
  display: flex;
  flex: 0 0 40%;
  padding-left: 50px;
  opacity: 0.7;
}
.home-content-2 img {
  height: 400px;
  box-shadow: 5px 5px 10px 10px var(--dirtywhite);
}

/*=========
    BODY CONTENT SECTIONS
    ===========*/

.card-content {
  display: flex;
  flex: 1 0 auto;
  min-width: 100%;
  min-height: 99.8vh;
  align-items: center;
  /* background-color: #ffffff0f; */
  padding: 0px 50px 0px 50px;
  color: var(--dirtywhite);
}

.card-content-inner {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  width: 100%;
  height: 89vh;
  flex-direction: column;
  justify-content: flex-start;
}

/*=========
    FOOTER SECTION
    ===========*/
footer {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .card-content-inner-home {
    flex-direction: column;
  }

  .home-content-1 {
    padding-top: 0px;
    flex: 0 0 38%;
  }

  @media screen and (max-width: 520px) {
    .card-content-inner-home {
      flex-direction: column;
    }

    .home-content-1 .home-content-1-greet {
      font-size: 40px;
      text-align: center;
      height: 70px;
    }

    .home-content-1 .home-content-1-desc {
      line-height: 20px;
      font-size: 20px;
      text-align: center;
    }

    .timeline-container {
      line-height: 18px;
    }
    .timeline-container span,
    .timeline {
      font-size: 18px;
      padding-left: 5px;
    }

    .home-content-1 {
      flex: 0 0 auto;
    }
    .home-content-2 {
      justify-content: center;
      padding: 0px;
      padding-top: 50px;
    }

    .timeline:hover #timeline-content {
      line-height: 20px;
      position: absolute;
      right: 45px;
      text-align: right;
    }
  }
}
